.dfbThickBorder{
    border-width: medium !important;
    border-color: #182b62 !important;
}

.btn-toggle {
    // margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
   }
   .btn-toggle:focus, .btn-toggle:focus.active, .btn-toggle.focus, .btn-toggle.focus.active {
       outline: none;
   }
   .btn-toggle:before, .btn-toggle:after {
       line-height: 1.5rem;
       width: 4rem;
       text-align: center;
       font-weight: 600;
       font-size: .75rem;
       text-transform: uppercase;
       letter-spacing: 2px;
       position: absolute;
       bottom: 0;
       transition: opacity .25s;
   }
   .btn-toggle:before {

    //    content: 'Off';
    //    left: -4rem;
   }
   .btn-toggle:after {
    //    content: 'On';
    //    right: -4rem;
    //    opacity: .5;
   }
   .btn-toggle > .handle {
       position: absolute;
       top: 0.1875rem;
       left: 0.1875rem;
       width: 1.125rem;
       height: 1.125rem;
       border-radius: 1.125rem;
       background: #fff;
       transition: left .25s;
   }
   .btn-toggle.active {
       transition: background-color .25s;
   }
   .btn-toggle.active {
       background-color: #3490dc;
   }
   .btn-toggle.active > .handle {
       left: 1.6875rem;
       transition: left .25s;
   }
   .btn-toggle.active:before {
       opacity: .5;
   }
   .btn-toggle.active:after {
       opacity: 1;
   }
